

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  /* font-family: 'Poppins', sans-serif; */
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: steelblue;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
}

input {
  minWidth: 200px;
  maxWidth: 400px;
  /* box-shadow: 2.5px 2px #888888; */
  /* box-shadow: 0 0 2px 4px #dee4ef; */
  /* box-shadow: 0 0 2px 0.5px #a5a5a5; */
}



input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
}

.btn {
  display: inline-block;
  background: coral;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn-delete {
  display: inline-block;
  background: red;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn-edit {
  display: inline-block;
  background: gray;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

/* .btn-secondary {
  font: inherit;
  font-size: 13px;
  background: darkslategrey;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
} */

.btn-secondary:hover {
  opacity: 0.8;
}
